<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GSK</title>
    </head>
    <body>
        <h3>GSK</h3>
        <p>Los siguientes productos tienen un stock por debajo de su stock mínimo</p>
        <table border="1">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Código interno</th>
                    <th>Stock</th>
                    <th>Stock mínimo</th>
                </tr>
            </thead>
            <tbody>
            {% for product in productsUnderMinStock %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.internalCode }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.stockMinimum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
