<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GSK</title>
    </head>
    <body>
        <h3>GSK</h3>
        <p>Los siguientes productos han alcanzado su fecha de caducidad 贸 destrucci贸n</p>
        <table border="1">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>C贸digo interno</th>
                    <th>Fecha Caducidad</th>
                    <th>Fecha de destrucci贸n</th>
                </tr>
            </thead>
            <tbody>
            {% for productInput in productsExpired %}
                <tr>
                    <td>{{ productInput.product.name }}</td>
                    <td>{{ productInput.product.internalCode }}</td>
                    <td>{{ productInput.expiryDate|date('Y-m-d') }}</td>
                    <td>{{ productInput.destructionDate|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
