<div class="tabProcessor" style="font-family: Arial; background: none; border: none; margin-top: 10px; margin-bottom: 0; padding: 0; box-shadow: none">
    <div style="float:right; margin-right: 16px; margin-top: 15px; margin-bottom: 0; border: 1px solid #ddd; background-color: #fff; padding: 10px">
        <img src="/img/headers/CTBG.jpg"  alt="Consejo de Transparencia y buen Gobierno (Gobierno de España)" />
    </div>
</div>
