<div class="tabProcessor" style="font-family: Arial; background: none; border: none; margin-top: 10px; margin-bottom: 0; padding: 0; box-shadow: none">
    <div>
        <div style="float:left; margin-right: 20px;">
            <img src="/img/headers/fedGov.png"  width="65" alt="Federal Government" />
        </div>
        <p><small><strong>Questionnaire for employment</strong></small></p>
        <p><small><strong>PERSONNEL MANAGEMENT, <br />JUSTICE DEPARTMENT</strong></small></p>
    </div>
    <h2 style="margin: 10px 0 0 0">Federal Government</h2>
</div>
