<div class="tabProcessor" style="font-family: Arial; background: none; border: none; margin-top: 10px; margin-bottom: 0; padding: 0; box-shadow: none">
    <div style="float:right; margin-right: 20px;">
        <img src="/img/headers/logo_mavi.png"  style="margin-top: 15px" alt="FITWELL" />
    </div>
</div>
