<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DOCXPRESSO | 404 Error</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">{{'Page Not Found'|trans}}</h3>

        <div class="error-desc">
            {{'The requested page was not found.'|trans}}<br/>
            {{'We apologize for this issue. If you consider this to be an app error, please, contact us in'|trans}}: <a href="mailto:support@docxpresso.com">support@docxpresso.com</a>.
            <br/><a href="/" class="btn btn-primary m-t"><i class="fa fa-home"> </i> {{'Back to the homepage'|trans}}</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>