<div class="text-center" style="font-size: 65px; color: #b70000; margin: 30 0 15px 0px">
    <i class="fa fa-stop"></i>
</div>
<div class="text-center" style="font-size: 20px; width: 250px">
    {{'You have no permission to see the requested message.'|trans}}
</div>
