/app/config/clientparams.yml
!/app/cache
/app/cache/*
!/app/files
/app/files/*
!app/files/.gitkeep
!/app/files/material_inputs_qr
/app/files/material_inputs_qr/*
!app/files/material_inputs_qr/.gitkeep
!/app/files/qrs
/app/files/qrs/*
!app/files/qrs/.gitkeep
!app/cache/.gitkeep
!/app/logs
/app/logs/*
!app/logs/.gitkeep
!/app/sessions
/app/sessions/*
!app/sessions/.gitkeep
!app/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/img/users/
/.idea
/nbproject
**/Entity/*~
**/Entity/*~
