{% extends '::base.html.twig' %}
{% block page_title %}GSK | Términos de uso {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block main_title %}GSK | Términos de uso{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="row wrapper-blocks wrapper-blocks-home">
                Términos de uso
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
{% endblock %}
