<table id="inProcessParcial" class="table table-striped">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Plantilla</th>
        <th>Acción</th>
        <th>Tiempo</th>
    </tr>
    </thead>
    {% if items is defined %}
        {% for item in items %}
            <tr>
                <td>{{item.creator}}</td>
                <td>{{item.name}}</td>
                <td>{{item.accion|capitalize}}</td>
                <td>{{item.formatDuration}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
