#Global parameters
parameters:
    
    
#imports
imports:
    - { resource: globalparams.yml }
    - { resource: clientparams.yml }
    - { resource: emailparams.yml }
    - { resource: security.yml }
    - { resource: services.yml }

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    serializer:
        enable_annotations: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    paths:
        "%kernel.root_dir%/../web/Forms/Headers": form_headers
    globals:
        footer: %footer%
        ga_tracking: %ga_tracking%
        date_format: %date_format%
        web_path: %web_path%
        signatureWidth: %signature_width%
        signatureHeight: %signature_height%
        signature_scaling: %signature_scaling%
        canvas_scaling: %canvas_scaling%
        security_level: %security_level%
        apikey_expiration: %apikey_expiration%
        locale: %locale%
        captchaPublicKey: %captcha_public_key%
        help: %help_route%

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        []
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        mapping_types:
            enum: string
        # Options for SSL connection
        options:
            #MYSQL_ATTR_SSL_CA : %ca_cert%
            #MYSQL_ATTR_SSL_KEY : %private_key%
            #MYSQL_ATTR_SSL_CERT : %public_cert%
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        dql:
            datetime_functions:
                datediff: Nononsense\UtilsBundle\DQL\DateDiff
            string_functions:
                GROUP_CONCAT: Nononsense\UtilsBundle\DQL\GroupConcat
                FIRST: Nononsense\UtilsBundle\DQL\FirstFunction
                json_value: Nononsense\UtilsBundle\DQL\JsonValue
                isjson: Nononsense\UtilsBundle\DQL\IsJson

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    encryption: '%mailer_encryption%'
    spool: { type: memory }
 
# Services
services:
    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }  
    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }
    twig.extension.i18n:
        class: Twig_Extensions_Extension_I18n
        tags:
            - { name: twig.extension }
    twig.extension.date:
        class: Twig_Extensions_Extension_Date
        arguments: [@translator]
        tags:
            - { name: twig.extension }

