# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value
#Docusign plugin
    docusign: 1
    docusign_user: "eduardo@nononsenselabs.com"
    docusign_pwd: "!guillerman2001"
    docusign_integrator_key: "3da3694f-64ef-4fc5-b889-3f52ef41efe4"
    docusign_host: "https://demo.docusign.net/restapi"
    docusign_API: C:\xampp\htdocs\docusign\docusignAPI\vendor\autoload.php

services:
    obj2array.twig_extension:
        class: Nononsense\HomeBundle\Twig\Object2ArrayExtension
        public: false
        tags:
            - { name: twig.extension }
    jsondecode.twig_extension:
        class: Nononsense\HomeBundle\Twig\JSONdecodeExtension
        public: false
        tags:
            - { name: twig.extension }
    escapetags.twig_extension:
        class: Nononsense\HomeBundle\Twig\EscapeTagsExtension
        public: false
        tags:
            - { name: twig.extension }
    urldecode.twig_extension:
        class: Nononsense\HomeBundle\Twig\UrldecodeExtension
        public: false
        tags:
            - { name: twig.extension }
    slugify.twig_extension:
        class: Nononsense\HomeBundle\Twig\SlugifyExtension
        public: false
        tags:
            - { name: twig.extension }
    gskdate.twig_extension:
        class: Nononsense\HomeBundle\Twig\GskDateExtension
        public: false
        tags:
            - { name: twig.extension }
    cleanoption.twig_extension:
        class: Nononsense\HomeBundle\Twig\CleanoptionExtension
        public: false
        tags:
            - { name: twig.extension }
    cleanquotes.twig_extension:
        class: Nononsense\HomeBundle\Twig\CleanquotesExtension
        public: false
        tags:
            - { name: twig.extension }
    search.twig_extension:
        class: Nononsense\HomeBundle\Twig\SearchExtension
        public: false
        tags:
            - { name: twig.extension }
    existfile.twig_extension:
        class: Nononsense\HomeBundle\Twig\ExistfileExtension
        public: false
        tags:
            - { name: twig.extension }
    app.security:
        class: Nononsense\UtilsBundle\Classes\Security
        arguments: ['@security.token_storage', '@security.authorization_checker', '%security_level%', '%apikey%', @doctrine.orm.entity_manager, '%apikey_expiration%', '%CAcerts_path%']

    app.sdk:
        class: Nononsense\UtilsBundle\Classes\SDK
        arguments: ['%docxpresso_installation%', '%apikey%']

    app.user_search:
        class: Nononsense\UtilsBundle\Classes\LDAP\LDAP
        arguments: ['@service_container']


    app.json_tools:
        class: Nononsense\UtilsBundle\Classes\JSON\Tools
        arguments: [ @doctrine.orm.entity_manager,'@service_container']

    ldap:
        class: Symfony\Component\Ldap\LdapClient
        arguments:
            host: '%ldap.host%'
            port: '%ldap.port%'
            version: '%ldap.version%'
            ssl: '%ldap.ssl%'
            tls: '%ldap.tls%'

    ldap.user.provider:
        class: Nononsense\UserBundle\Security\Authentication\Provider\FormLdapUserProvider
        arguments:
            ldap: '@ldap'
            container: '@service_container'
            base_dn: '%ldap.base_dn%'
            search_dn: '%ldap.search_dn%'
            search_password: '%ldap.search_password%'
            default_roles: '%ldap.default_roles%'
            uid_key: '%ldap.uid_key%'
        public: false

    ldap.auth.provider:
        class: Nononsense\UserBundle\Security\Authentication\Provider\FormLdapBindAuthProvider
        arguments: ['','','','','','@Validator','%security.authentication.hide_user_not_found%', '@doctrine.orm.entity_manager']
        public: false
        abstract: true

    app.exception_listener.success:
        class: Nononsense\UserBundle\Security\Events\ExceptionListenerSuccess
        arguments: ['@doctrine.orm.entity_manager', '@request_stack']
        tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }

    app.exception_listener.failure:
        class: Nononsense\UserBundle\Security\Events\ExceptionListenerFail
        arguments: ['@doctrine.orm.entity_manager', '@request_stack']
        tags:
            - { name: kernel.event_listener, event: security.authentication.failure, method: onAuthenticationFailureLogin }

    app.exception_listener.exit:
        class: Nononsense\UserBundle\Security\Events\ExceptionListenerExit
        arguments: ['@doctrine.orm.entity_manager', '@request_stack']

    # doctrine.groupuser_subscriber:
    #     class: Nononsense\GroupBundle\Subscribers\GroupsUsersActivitySubscriber
    #     arguments: ['@security.context', '@request_stack']
    #     tags:
    #         - { name: doctrine.event_subscriber, connection: default }

    # doctrine.group_subscriber:
    #         class: Nononsense\GroupBundle\Subscribers\GroupActivitySubscriber
    #         arguments: [ '@security.context', '@translator', '@request_stack' ]
    #         tags:
    #             - { name: doctrine.event_subscriber, connection: default }
    # doctrine.user_subscriber:
    #         class: Nononsense\UserBundle\Subscribers\UserActivitySubscriber
    #         arguments: [ '@security.context', '@request_stack' ]
    #         tags:
    #             - { name: doctrine.event_subscriber, connection: default }