body {
    /*background-color: #ff0000 !important;*/
}
body * {
    /*background-color: #ff0000 !important;*/
}
.mail-footer {
    display: none;
}
.mail-buttons {
    display: none;
}
.mail-head {
    display: none;
}
.col-lg-3 {
    width: 1% !important;
    float: none;
}
.col-lg-9 {
    width: 99% !important;
    float:none !important;
    clear: both !important;
}