<table id="inProcessParcial" class="table table-striped">
    <thead>
    <tr>
        <th>Plantilla</th>
        <th>Nº.Cumplimentaciones</th>
    </tr>
    </thead>
    {% if items is defined %}
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.conta}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>