<div class="row">
    <div class="col-lg-12"> 
    {% for item in groups %}
        <ul class="userMiniList">
            <li id="member_{{item.agroup.id}}">
                <div class="dropdown-messages-box">
                    <div class="media-body">
                        <span class="pull-right"><button class="btn btn-danger btn-xs remove_member" data-group ="{{item.agroup.id}}" data-name="{{ item.agroup.name }}" type="button"><i class="fa fa-times"> </i></button></span>

                        <strong>{{ item.agroup.name }}</strong>. <br>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}

    </div>
</div>
