<div class="dropdown-messages-box" id="newUser_{{group.id}}">
    <div class="media-body">
        <span class="pull-right"><button class="btn btn-danger btn-xs removeFromList" data-user ="{{group.id}}"  type="button" onclick="removeNewUser({{group.id}})"><i class="fa fa-times"> </i></button></span>
        <strong>{{ group.name }}</strong>. <br>
    </div>
</div>