<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link href="/css/bootstrap.min.css" rel="stylesheet">
		    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

		    <link href="/css/animate.css" rel="stylesheet">
		    <link href="/css/style.css" rel="stylesheet">
			<title>GSK | {% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body class="gray-bg">
		{% block content %}{% endblock %}

		{% block footer %}
		    <script src="/js/jquery-2.1.1.js"></script>
        	<script src="/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>