.ui-loading .ui-loader {
	display: block
}

.ui-loader {
	display: none;
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 0
}

.ui-loader-default {
	background: 0;
	filter: Alpha(Opacity = 18);
	opacity: .18;
	width: 2.875em;
	height: 2.875em;
	margin-left: -1.4375em;
	margin-top: -1.4375em
}

.ui-loader-verbose {
	width: 12.5em;
	filter: Alpha(Opacity = 88);
	opacity: .88;
	box-shadow: 0 1px 1px -1px #fff;
	height: auto;
	margin-left: -6.875em;
	margin-top: -2.6875em;
	padding: .625em
}

.ui-loader-default h1 {
	font-size: 0;
	width: 0;
	height: 0;
	overflow: hidden
}

.ui-loader-verbose h1 {
	font-size: 1em;
	margin: 0;
	text-align: center
}

.ui-loader .ui-icon-loading {
	display: block;
	margin: 0;
	width: 2.75em;
	height: 2.75em;
	padding: .0625em;
	-webkit-border-radius: 2.25em;
	border-radius: 2.25em
}

.ui-loader-verbose .ui-icon-loading {
	margin: 0 auto .625em;
	filter: Alpha(Opacity = 75);
	opacity: .75
}

.ui-loader-textonly {
	padding: .9375em;
	margin-left: -7.1875em
}

.ui-loader-textonly .ui-icon-loading {
	display: none
}

.ui-loader-fakefix {
	position: absolute
}

.ui-corner-all>.ui-header:first-child, .ui-corner-all>.ui-content:first-child,
	.ui-corner-all>.ui-footer:first-child {
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit
}

.ui-corner-all>.ui-header:last-child, .ui-corner-all>.ui-content:last-child,
	.ui-corner-all>.ui-footer:last-child {
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit
}

.ui-collapsible-set>.ui-collapsible.ui-corner-all {
	-webkit-border-radius: 0;
	border-radius: 0
}

.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all
	{
	-webkit-border-radius: 0;
	border-radius: 0
}

.ui-corner-all {
	-webkit-border-radius: .3125em;
	border-radius: .3125em
}

.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all,
	.ui-flipswitch.ui-corner-all, .ui-li-count {
	-webkit-border-radius: .3125em;
	border-radius: .3125em
}

.ui-btn-icon-notext.ui-btn-corner-all, .ui-btn-icon-notext.ui-corner-all
	{
	-webkit-border-radius: 1em;
	border-radius: 1em
}

.ui-btn-corner-all, .ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box
}

.ui-popup.ui-corner-all>.ui-popup-arrow-guide {
	left: .6em;
	right: .6em;
	top: .6em;
	bottom: .6em
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
	html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
	{
	background-color: #e9e9e9;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	font-weight: 700
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit,
	html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit,
	html .ui-panel-page-container-a {
	background-color: #fff;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3
}

.ui-body-a {
	border-width: 1px;
	border-style: solid
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a
	{
	color: #38c;
	font-weight: 700
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited,
	html body .ui-group-theme-a a:visited {
	color: #38c
}

.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover,
	html body .ui-group-theme-a a:hover {
	color: #059
}

.ui-page-theme-a a:active, html .ui-bar-a a:active, html .ui-body-a a:active,
	html body .ui-group-theme-a a:active {
	color: #059
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn,
	html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a,
	.ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited,
	html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited
	{
	background-color: #f6f6f6;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3
}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover,
	html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover
	{
	background-color: #ededed;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3
}

.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active,
	html body .ui-group-theme-a .ui-btn:active, html head+body .ui-btn.ui-btn-a:active
	{
	background-color: #e8e8e8;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active,
	html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active,
	html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after,
	html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after,
	html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after,
	.ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active,
	html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active,
	html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
	.ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active,
	html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
	html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #38c;
	border-color: #38c;
	color: #fff;
	text-shadow: 0 1px 0 #059
}


.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after,
	html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after,
	.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #38c
}


.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus,
	html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus,
	.ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus,
	html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus,
	html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #38c;
	-moz-box-shadow: 0 0 12px #38c;
	box-shadow: 0 0 12px #38c
}

.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 2.875em 2.875em
}