<div class="modal fade" tabindex="-1" role="dialog" id="modalSignReview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Firmar solicitud de revisión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="form_sign_review" action="{{path('nononsense_tm_template_send_review', {'id': template.id}) }}" method="POST"  enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <b>Comentarios</b><br>
                        <div class="form-group">
                            <textarea class="form-control" name="description" rows="10" cols="40" style="width:100%" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div id="signature-pad" class="input-group">
                            <p>Introduzca su firma</p>
                            <input type="password" name="password" id="form_sign_review_password" class="form-control" required="required"><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Firmar revisión">
            </div>
        </form>
    </div>
  </div>
</div>