<div class="modal fade" tabindex="-1" role="dialog" id="modalSignRequestDrop">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Firmar solicitud de baja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="form_sign_request_drop" action="{{path('nononsense_tm_template_request_drop', {'id': template.id}) }}" method="POST"  enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        Comentarios<br>
                        <div class="form-group">
                            <textarea class="form-control" name="description" rows="10" cols="40" required="required" style="width:100%" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div id="signature-pad" class="input-group">
                            Introduzca su firma<br>
                            <canvas id="canvas2" width="300" height="150" style="touch-action: none; border: 2px solid #eee; box-shadow: 0px 0px 6px 1px rgba(80, 90, 100, 0.5)"></canvas>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="signature" name="signature" />
            </div>
            <div class="modal-footer">
                <a name="borrarFirmar" class="btn btn-secondary" id="borrarFirmar">Limpiar firma</a>
                <input type="submit" class="btn btn-primary" value="Firmar solicitud de baja">
            </div>
        </form>
    </div>
  </div>
</div>